# Virtual environment
venv/

# Environment secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Generated outputs
outputs/
temp/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


.coverage